@import "variables.scss";

.quick-button {
  background: none;
  border-radius: 15px;
  border: 2px solid #191970;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  outline: 0;

  &:active {
    background: #191970;
    color: $white;
  }
}
