@import 'variables.scss';
@import 'common.scss';

.rcw-message {
  margin: 10px;
  display: flex;
  word-wrap: break-word;
}

.rcw-client {
  @include message-bubble(#9ca8e8);
  margin-left: auto;
}

.rcw-response {
  @include message-bubble($grey-2);
}

.rcw-message {
  font-size: 14px;
}

/* For markdown elements created with default styles */
.rcw-message-text {

  p {
    margin: 0;
  }
}

.rcw-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
