html,body {
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(0, 29, 74), rgb(0, 105, 146));
}

.epf-logo {
  position: relative;
  width: 300px;
  left: 15px;
  top: 250px;
}

.h1 {
  position: absolute;
  font-family: filsonPro;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  top: 400px;
  left: 20px;
  padding: 10px 0 0 0;
}

.h2{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  top: 460px;
  left: 20px;
  padding: 30px 0 0 0;
}

@font-face {
  font-family: filsonPro;
  src: url(../assets/filson_pro.otf)format("opentype");
}
