@import 'variables.scss';
@import 'common.scss';

.rcw-conversation-container {
  .rcw-header {
    background-color: #191970;
    border-radius: 70px 10px 0 0;
    color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 10px;
  }

  .rcw-title {
    font-size: 10px;
    margin: 0;
    padding: 0px 0;
  }

  .rcw-close-button {
    display: none;
  }

  .avatar {
    width: 128px;
    height: 64px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
  }
}

.rcw-full-screen {

  .rcw-header {
    @include header-fs;
  }

  .rcw-title {
    @include title-fs;
  }

  .rcw-close-button {
    @include close-button-fs;
  }

  .rcw-close {
    @include close-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    .rcw-header {
      @include header-fs;
    }

    .rcw-title {
      @include title-fs;
    }

    .rcw-close-button {
      @include close-button-fs;
    }

    .rcw-close {
      @include close-fs;
    }
  }
}
